@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

.text-18px {
  color: #121417;
  font-feature-settings: 'dlig' on;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.5px; /* 125% */
  letter-spacing: -0.27px;
}

.text-36px {
  color: #121417;
  font-feature-settings: 'dlig' on;
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 45px; /* 125% */
  letter-spacing: -1.188px;
}

.text-16px {
  color: #121417;
  font-feature-settings: 'dlig' on;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.text-14px {
  color: #121417;
  font-feature-settings: 'dlig' on;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}

.text-32px {
  color: #121417;
  font-feature-settings: 'dlig' on;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px; /* 125% */
  letter-spacing: -0.8px;
}

.text-13px {
  color: #637887;
  font-feature-settings: 'dlig' on;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.5px; /* 150% */
  letter-spacing: 0.195px;
}

.text-secondary-14px {
  color: #637887;
  font-feature-settings: 'dlig' on;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.text-secondary-16px {
  color: #637887;
  text-align: center;
  font-feature-settings: 'dlig' on;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

body {
  color: #000000;
  background: #ffffff;
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.table-header {
  height: 45.5px;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex-shrink: 0;
  color: #121417;
  /*font properties for table header*/
  font-feature-settings: 'dlig' on;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 150% */

  align-self: stretch;
  
}

.table-data {
  
  height: 72px;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  
}

.left-table-data {
  width:40%;
  color: #121417;
  font-feature-settings: 'dlig' on;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.center-table-data {
  width: 30%;
  color: #637887;
  font-feature-settings: 'dlig' on;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.right-table-data {
  display: flex;
  width: 70%;
  text-align: right;
  margin-top: 20px;
  height: 32px;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  background: #F0F2F5;
  font-weight: 500;
}

.table-general {
  
  display: flex;
  height: 431.5px;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  
  
}

.table-border {
  border: 1px solid #F0F2F5;
  border-radius: 12px;
}